<%- include('partials/header'); -%>

<section>
    <p>Picked the wrong subscription? Shop around then come back to pay!</p>
    <a href="/" class="btn">Go to Home Page</a>
</section>


<%- include('partials/footer'); -%>